---
import '../styles/global.css';

import RootLayout from "@/layouts/root.astro"

import { Button } from '@/components/shadcn/button';
---

<RootLayout>
	<main class="flex items-center justify-center grow">
		<Button>{`Sorry, we're under construction!`}</Button>
	</main>
</RootLayout>
