---
import "../styles/global.css";

import RootLayout from "@/layouts/root.astro";
---

<RootLayout>
  <main class="flex grow flex-col">
    <section class="flex flex-1">
      <article class="flex-1">HEADLINE</article>
      <article class="flex-1">ABOUT</article>
    </section>
    <section class="flex flex-1">
      <article class="flex-1">APPS</article>
      <article class="flex-1">BLOG</article>
      <article class="flex-1">EXPERIENCE</article>
    </section>
  </main>
</RootLayout>
