---
import '../styles/global.css';

const FULL_NAME = "Karthik Appiah";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{FULL_NAME}</title>
	</head>

	<body class="flex items-center justify-center h-screen">
		<p>{`Sorry, ${FULL_NAME}'s portfolio is under construction!`}</p>
	</body>
</html>
